.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.card h2 {
    margin-top: 0;
    color: #212443;
    font-size: 24px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #237bcd80;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}